.chessboard {
  width: 40em;
  height: 40em;
  margin: 1.25em auto;
  border: 0.3em solid black;

  animation-name: spin;

  animation-duration: 4s;

  animation-delay: 2s;
}
.black {
  float: left;
  width: 80px;
  height: 80px;
  background-color: rgba(24, 20, 20, 0.651);
  font-size: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.white {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #fff;
  font-size: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.music {
  position: absolute;
  right: 0px;
  top: 0px;
  float: right;

  animation-name: spin;

  animation-duration: 4s;

  animation-delay: 2s;
}
